#table {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#table th{
  
    padding: 10px;
    
}
#table tbody{
    width: auto;
    padding: 5px;
}
#table td{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}